html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}


body {
    margin-bottom: 60px;
}

.bg {
    overflow: hidden;
    top: 10;
    left: 0;
    bottom: 100;

     Preserve aspet ratio 
    min-width: 100%;
    min-height: 100%;
}

